<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    <head>
        {% block title %}매칭 조건선택{% endblock %}
    </head>
    <body>
        {% block content %}
            <form method="POST" action="/condition" class="cond_main">
                <h2>여행조건을 선택해주세요</h2>
                {{form.hidden_tag()}}
                <div class="cond_selbox box1">
                    <label class="cond_selinfo">여행지: </label>
                    <div class="cond_sel">{{form.travelDes}}</div>
                </div>
                <div class="cond_selbox box2">
                    <label class="cond_selinfo">인원수: </label>
                    <div class="cond_sel">{{form.travelNum}}</div>
                </div>
                <div class="cond_selbox box3">
                    <label class="cond_selinfo">특기언어: </label>
                    <div class="cond_sel">{{form.travelLang}}</div>
                </div>
                <button type="submit" class="login_btn" id="cond_btn">
                    확     인
                </button>
            </form>
        {% endblock %}
    </body>
</html>