<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>end</title>
    </head>
    <body id="end_body">
        <div class="login_header">
            <img src="img/heartboo.png" class="login_logo">
            <h1>외대생 여행메이트 찾기</h1>
        </div>
        <div class="end_main">
            <img src="img/heartboo.png">
            <img src="img/kakao.png">
            <div id="end_address"></div>
        </div>
        
        <script></script>
      </body>
</html>