<!DOCTYPE html>
<html lang="ko">
    {% extends "base.html" %}
    <head>
        {% block title %}로그인{% endblock %}
    </head>
    <body>
        {% block content %}
            <form method="POST" action="/login" class="login_main">
                {{form.csrf_token}}
                {%if form.userId.errors%}
                    <div class="login_box error">{{form.userId.errors.0}}</div>
                {%endif%}

                {%if form.userPw.errors%}
                    <div class="login_box error">{{form.userPw.errors.0}}</div>
                {%endif%}

                <img src="{{ url_for('static', filename='img/user.png') }}" id="login_user">
                {{form.userId(class="login_box", placeholder="아이디")}}
                <img src="{{ url_for('static', filename='img/key.png') }}" id="login_key">
                {{form.userPw(class="login_box", placeholder="비밀번호")}}
            
                <button type="submit" class="login_btn" id="login_btn1">로 그 인</button>
            </form>
            <div class="login_signup">
                <hr>
                <p>계정이 없으신가요?</p>
                <a href="/register">
                    <button type="button" class="login_btn" id="login_btn2">회 원 가 입</button>
                </a>
            </div>
        {% endblock %}

    </body>
</html>