<!DOCTYPE html>
<html lang="ko">
    {% extends "base.html" %}
    <head>
        {% block title %}회원가입{% endblock %}
    </head>
    <body>
        {% block content %}
            <form method="post" action="/register" class="reg_main">
                {{form.csrf_token}}    

                {%if form.userId.errors%}
                    <div class="register_box_1 error">{{form.userId.errors.0}}</div>
                {%endif%}

                {%if form.repassword.errors%}                
                    <div class="register_box_2 error">{{form.repassword.errors.0}}</div>
                {%endif%}

                                
                    <div class="form-group">
                        {{form.userId.label("ID")}}
                        {{form.userId(class="form-control",placeholder="ID")}}
                    </div>
                    <div class="form-group">
                        {{form.userPw.label("비밀번호")}}
                        {{form.userPw(class="form-control",placeholder="비밀번호")}}
                    </div>
                    <div class="form-group">
                        {{form.repassword.label("비밀번호 확인")}}
                        {{form.repassword(class="form-control",placeholder="비밀번호 확인")}}
                    </div>
                    <div class="form-group">
                        {{form.userMajor.label("소속학과")}}
                        {{form.userMajor(class="form-control",placeholder="소속학과")}}
                    </div>
                    <div class="form-group">
                        {{form.userLang.label("특기언어")}}
                        {{form.userLang(class="form-control",placeholder="특기언어")}}
                    </div>
                    <button type="submit" class="btn btn-primary">가입하기</button>
                </form>
        {% endblock %}        
    </body>
</html>