<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>satisfy</title>
    </head>
    <body id="satis_body">
        <div class="login_header">
            <img src="img/heartboo.png" class="login_logo">
            <h1>외대생 여행메이트 찾기</h1>
        </div>
        <div class="satis_main">
            <h1>이미 매칭된 팀이 있습니다.<br>매칭된 팀에 만족하시나요?</h1>
            <a href="condition.html">
                <div class="satis_selbox yes">
                    네<br>다른 여행지도<br>보고싶습니다.
                </div>
                <div class="cond_selbox no">
                    아니요<br>새로운 팀을<br>원합니다.
                </div>
            </a>
        </div>
        
        <script></script>
      </body>
</html>