<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>teamlist</title>
    </head>
    <body id="tl_body">
        <div class="login_header">
            <img src="img/heartboo.png" class="login_logo">
            <h1>외대생 여행메이트 찾기</h1>
        </div>
        <div class="tl_main">
            <h1>팀 리스트</h1>
            <div class="tl_header">
                <div>팀명</div>
                <div>여행지</div>
                <div>현재인원/목표인원</div>
            </div>
            <div class="tl_teams"></div>
        </div>
        
        <script></script>
      </body>
</html>