<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>teamcreate</title>
    </head>
    <body id="tc_body">
        <div class="login_header">
            <img src="img/heartboo.png" class="login_logo">
            <h1>외대생 여행메이트 찾기</h1>
        </div>
        <div class="tc_main">
            <div class="tc_header">
                <h1>팀 생성</h1>
                <div>다음 정보를 기입해주세요.</div>
            </div>
            <div class="ti_box userNum">
                <div class="ti_title">회원번호</div>
                <input type="text">
            </div>
            <div class="ti_box teamName">
                <div class="ti_title">팀명: </div>
                <input type="text" placeholder="몇글자 이내로 작성">
            </div>
            <div class="ti_box teamTo">
                <div class="ti_title">여행지: </div>
                <select>
                    <option value="" class="cond_country"></option>
                </select>
            </div>
            <div class="ti_box numGoal">
                <div class="ti_title">목표인원: </div>
                <select>
                    <option value="2" class="cond_num"></option>
                    <option value="3" class="cond_num"></option>
                    <option value="4" class="cond_num"></option>
                </select>
            </div>
            <div class="ti_box address">
                <div class="ti_title">팀 카톡방 주소: </div>
                <input type="text" placeholder="오픈 카톡 주소를 입력해주세요.">
            </div>
            <div class="ti_box address">
                <div class="ti_title">간단한 팀소개 멘트: </div>
                <textarea autofocus placeholder="안녕하세요~ 함께 미국으로 여행 갈 친구 찾습니다!">
            </div>
            
            <button type="button" class="login_btn">
                팀 생성
            </button>
        </div>
        
        <script></script>
      </body>
</html>